@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100; 200;300;400;500;600;700;800;900&display=swap');

a, body, div, footer, h1, h2, h3, h4, h5, h6, header, html, img, li, nav, p, s, span, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}
li, ul {
    padding: 0;
    margin: 0;
    list-style: none
}

footer, header, nav {
    display: block
}

* {
    box-sizing: border-box
}

body, html {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale

}
/*SuB Profile place*/
.sub-profile-wrap{
    position: absolute;
    top: 100%;
    right: -1%;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.open-profile{
    max-width: 260px;
}
.navbarlinks-wrap{
    position: absolute;
    top: 100%;
    right: -1%;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.openRsNav{
    max-width: 300px;
}
.navbarlinks.openRsNav{
    max-width: 400px;
}
.navbarlinks-wrap.openRsNav{
    max-width: 400px;
}

.user-pic{
    width:50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.sub-profile.open-profile{
    max-height: 400px;
}
.sub-profile-wrap.open-profile{
    max-height: 400px;
}
.sub-profile{
    background: #fff;
    border-radius: 5%;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
    font-family: Montserrat, sans-serif;
    padding: 1rem;
    margin: 10px;
}
.sub-profile-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 7px 0;
}
.sub-profile-link img{
    width:40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 0px;
}
.drpdwnBttn{
    width:50px;
    height: 50px;
    max-width: 0;
}
.sub-profile-link span {
    transition: transform 0.5s;
}
.sub-profile-link:hover span{
        transform: translateX(5px);
}
.sub-profile-link p{
    width: 100%;
}
.sub-profile-link:hover p{
    font-weight: 600;
}
.sub-profile a img{
    width: 45px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 15px;
}
.sub-profile hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: black;
    margin: 15px 0 10px;

}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;

}
/*SuB Profile place end*/

a {
    text-decoration: none !important
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0
}

ul {
    margin-bottom: 0
}

p {
    font-size: 15px;
    line-height: 30px;
    color: #2a2a2a
}

img {
    margin-bottom: -3px;
    width: 100%;
    overflow: hidden
}

body, html {
    background: #fff;
    font-family: Montserrat, sans-serif
}

::selection {
    background: #03a4ed;
    color: #fff
}

::-moz-selection {
    background: #03a4ed;
    color: #fff
}

@media (max-width: 991px) {
    body, html {
        overflow-x: hidden
    }
}
.background-header {
    background-color: #fff !important;
    height: 85px !important;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.background-header .logo,
.background-header .main-nav .nav .navbarlinks  a {
    color: #1e1e1e !important;
}

.background-header .main-nav .nav .navbarlinks:hover a {
    color: #8d99af !important;
}

.background-header .nav .navbarlinks a.active {
    color: #8d99af !important;
}

.header-area .main-nav {
    min-height: 80px;
    background: 0 0;
}

.header-area .main-nav a.logo {
    background-image: url(../img/whitelogo.png);
    width: 170px;
    height: 75px;
    display: inline-block;
    margin-top: 20px;
}

.background-header .main-nav a.logo {
    background-image: url(../img/blacklogo.png);
    width: 170px;
    height: 75px;
    display: inline-block;
    margin-top: 8px;
}


.header-area .main-nav .nav{
    float: right;
    margin-top: 30px;
    margin-right: 0;
    background-color: transparent;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    position: relative;
    z-index: 999
}

.item-nav{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 5px;
}
#ITEMNAV1{padding-right: 1rem;padding-left: 1rem;}
#ITEMNAV2{padding-right: 1rem;padding-left: 1rem;}
#ITEMNAV3{padding-right: 1rem;padding-left: 1rem;}
#ITEMNAV4{padding-right: 1rem;padding-left: 1rem;}
#respProfileIcon{
    max-width: 0;
    width:50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}
.navbarlinks:last-child a {
    color: #2a2a2a !important;
    text-transform: capitalize;
    padding: 0 2rem;
    font-weight: 400
}

.navbarlinks:last-child a.active, .header-area .main-nav .nav:last-child a:hover {
    color: #000 !important
}

.navbarlinks a {
    display: block;
    font-weight: 650;
    font-size: 14px;
    color: #252525;
    text-transform: uppercase;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px
}

.navbarlinks  a.active, .header-area .main-nav .nav .navbarlinks :hover a {
    color: #8D99AF !important;
}

.navbarlinks :last-child a:hover {
    background-color: #eae9e7
}

.header-area.header-sticky {
    min-height: 80px
}



.navbarlinks  a.active {
    color: #8d99af
}



footer {
    border-top: 1px solid #eee;
    padding-top: 80px
}

footer h4 {
    font-size: 20px;
    font-weight: 700;
    color: #8d99af;
    margin-bottom: 30px
}

footer a, footer p {
    color: #2a2a2a
}

footer .logo img {
    width: 200px;
    margin-bottom: 30px
}

footer .helpful-links {
    margin: 0 45px
}

footer .helpful-links ul .navbarlinks  {
    display: block;
    margin-bottom: 15px
}

footer .helpful-links ul .navbarlinks  a {
    font-size: 15px;
    transition: all .3s
}

footer .helpful-links ul .navbarlinks a:hover {
    color: #8d99af;
    border-bottom: 1px solid #8d99af
}

footer .contact-us p {
    margin-bottom: 25px
}

footer .contact-us a {
    transition: all .3s
}

footer .contact-us a:hover {
    color: #8d99af;
    border-bottom: 1px solid #8d99af
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px)
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px)
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px)
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px)
    }
}
@media (max-width: 1200px) {
    /*.header-area .main-nav .nav  {*/
    /*    padding-left: 12px;*/
    /*    padding-right: 12px*/
    /*}*/

    .header-area .main-nav:before {
        display: none
    }

    #respProfileIcon{
        max-width: 0;
    }
    .user-pic{
        max-width: 100px;
    }
}

@media (max-width: 992px) {
    footer {
        text-align: center
    }

    #respProfileIcon{
        max-width: 0px;
    }
    .user-pic{
        max-width: 100px;
    }
    .header-area .main-nav a.logo {
        background-image: url(../img/blacklogo.png);
        width: 140px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left
    }
    /*.header-area .main-nav .nav  .item-nav{*/
    /*    padding-left: 0;*/
    /*    padding-right: 0*/
    /*}*/
    .navbarlinks  a{
        font-size: 12px;
    }
    #ITEMNAV1, #ITEMNAV2, #ITEMNAV3, #ITEMNAV4{
    padding-left: 12px;
        padding-right: 12px;

    }
    footer .about, footer .helpful-links {
        margin-bottom: 45px
    }
    .navbarlinks :nth-child(6) {
        padding-right: 0
    }
}

@media (max-width: 767px) {
    .header-area .main-nav a.logo {
        background-image: url(../img/blacklogo.png);
        width: 130px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        float: left
    }
    #respProfileIcon{
        max-width: 100px;
    }
    .user-pic{
        max-width: 0;
    }
    .drpdwnBttn{
        max-height: 100px;
        max-width: 100px;
    }
    .header-area .logo {
        margin-left: 0;
    }
    .header-area .main-nav .logo {
        color: #1e1e1e
    }

    .navbarlinks a.active, .header-area.header-sticky .nav .navbarlinks  a:hover {
        color: #8d99af !important;
        opacity: 100%;
    }
    .col-12{
        padding: 0;
    }
    .header-area {
        background-color: #f7f7f7;
        padding: 0 2rem;
        height: 100px;
        box-shadow: none;
        text-align: center
    }
    .header-area .container {
        padding: 0
    }
    .header-area .logo {
    }
    .navbarlinks{
        flex-direction: column;
        overflow: hidden;
        order:3;
        width: 100%;
        max-width: 0;
        flex-wrap: wrap;
    }
    .header-area .main-nav ul div{
        /*overflow: hidden;*/
        /*max-height: 0;*/
    }
    .header-area .main-nav .nav{
        display: flex;
        justify-content: right;
    }
    .header-area .main-nav {
        align-items: center;
    }
    .header-area .main-nav .nav .navbarlinks{
        float: none;
        width: 100%;
        display: none;
        -webkit-transition: all 0s ease 0s;
        -moz-transition: all 0s ease 0s;
        -o-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
        margin-left: 0
    }

    .navbarlinks :first-child {
        border-top: 1px solid #eee
    }

    .header-area .main-nav .nav{
        display: flex;
        justify-content: right;

    }
    .navbarlinks  {
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        /*padding-left: 0 !important;*/
        /*padding-right: 0 !important*/
    }

    .navbarlinks  a {
        height: 50px !important;
        line-height: 50px !important;
        /*padding: 0 !important;*/
        border: none !important;
        background: #f7f7f7 !important;
        color: #191a20 !important
    }

    .navbarlinks a:hover {
        background: #eee !important;
        color: #8d99af !important
    }
    .header-area .main-nav .nav {
        display: flex !important
    }
}
